<div class="home-page-container">
  <app-header-bar></app-header-bar>
  <div class="slogan" fxLayout="column" fxLayoutAlign="center start">
    <div class="text">
      <div class="small">Winter Fashion</div>
      <div class="large">Fashion</div>
      <div class="large">Collection 2021</div>
    </div>
    <div class="btn">
      <button mat-stroked-button>Shop Now</button>
    </div>
  </div>
</div>

<div class="main">
  <div class="classification" fxLayout="row" fxLayoutAlign="center center">
    <ng-container *ngFor="let categories of productCategoriesUrlList">
      <app-product-categories
        [categories]="categories"
      ></app-product-categories>
    </ng-container>
  </div>
</div>

<div class="new-arrival">
  <h1 class="new-arrival-title">New Arrival</h1>
  <ng-container *ngIf="newProducts.length !== 0; else elseContent">
    <mat-tab-group mat-align-tabs="end">
      <mat-tab label="All">
        <app-product-thumbnail
          [productsList]="newProducts"
        ></app-product-thumbnail>
      </mat-tab>
      <mat-tab label="Men">
        <app-product-thumbnail
          [productsList]="getNewArrivalProducts(1)"
        ></app-product-thumbnail>
      </mat-tab>
      <mat-tab label="Women">
        <app-product-thumbnail
          [productsList]="getNewArrivalProducts(2)"
        ></app-product-thumbnail>
      </mat-tab>
      <mat-tab label="Shoes">
        <app-product-thumbnail
          [productsList]="getNewArrivalProducts(3)"
        ></app-product-thumbnail>
      </mat-tab>
    </mat-tab-group>
  </ng-container>
  <ng-template #elseContent>
    <h2>No New Arrival Products</h2>
  </ng-template>
</div>

<div class="footBar">
  <div class="foot-content">
    <div class="category">
      <h4>Category</h4>
      <span >Man</span>
      <span >Female</span>
      <span >Accessories</span>
    </div>
    <div class="aboutMe">
      <h4>Address</h4>
      <span>200, Green block, NewYork</span>
      <span>+10 456 267 1678</span>
      <span>Fandix840925@gmail.com</span>
    </div>
    <div class="social">
      <h4>Social Media</h4>
      <div class="icon-content">
        <div class="icon">
          <a href="https://www.facebook.com/profile.php?id=100006253713723">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
              <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
            </svg>
          </a>
        </div>
        <div class="icon">
          <a href="https://github.com/Fandix">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
              <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
            </svg>
          </a>
        </div>
        <div class="icon">
          <a href="https://fandix.github.io/">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-receipt-cutoff" viewBox="0 0 16 16">
              <path d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zM11.5 4a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1zm0 2a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
              <path d="M2.354.646a.5.5 0 0 0-.801.13l-.5 1A.5.5 0 0 0 1 2v13H.5a.5.5 0 0 0 0 1h15a.5.5 0 0 0 0-1H15V2a.5.5 0 0 0-.053-.224l-.5-1a.5.5 0 0 0-.8-.13L13 1.293l-.646-.647a.5.5 0 0 0-.708 0L11 1.293l-.646-.647a.5.5 0 0 0-.708 0L9 1.293 8.354.646a.5.5 0 0 0-.708 0L7 1.293 6.354.646a.5.5 0 0 0-.708 0L5 1.293 4.354.646a.5.5 0 0 0-.708 0L3 1.293 2.354.646zm-.217 1.198.51.51a.5.5 0 0 0 .707 0L4 1.707l.646.647a.5.5 0 0 0 .708 0L6 1.707l.646.647a.5.5 0 0 0 .708 0L8 1.707l.646.647a.5.5 0 0 0 .708 0L10 1.707l.646.647a.5.5 0 0 0 .708 0L12 1.707l.646.647a.5.5 0 0 0 .708 0l.509-.51.137.274V15H2V2.118l.137-.274z"/>
            </svg>
          </a>
        </div>
      </div>
      
      
    </div>
  </div>
  <div class="point">
    Copyright ©2021 All rights reserved
  </div>
</div>
